:root {
  --border-radius: 8px;
  --curb-color-00: #fbfbfc;
  --curb-color-50: #f4f6f7;
  --curb-color-100: #e2e8eb;
  --curb-color-200: #c8d4d9;
  --curb-color-300: #a2b6be;
  --curb-color-400: #74909c;
  --curb-color-500: #607d8b;
  --curb-color-600: #4d616d;
  --curb-color-700: #42515c;
  --curb-color-800: #3c474e;
  --curb-color-900: #353d44;
  --curb-color-950: #20272c;
  --curb-color-amber: #ff8f00;
  --curb-color-blue: #3567c0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* Smalt Blue Colors Reversed */
    --curb-color-950: #f4f6f7;
    --curb-color-900: #e2e8eb;
    --curb-color-800: #c8d4d9;
    --curb-color-700: #a2b6be;
    --curb-color-600: #74909c;
    --curb-color-500: #607d8b;
    --curb-color-400: #4d616d;
    --curb-color-300: #42515c;
    --curb-color-200: #3c474e;
    --curb-color-100: #353d44;
    --curb-color-50: #20272c;
    --curb-color-00: #20272c;
    --curb-color-amber: #ffd54f;
    --curb-color-blue: #74b2e6;
  }
}

#accordionTitleInput {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 1em;
  margin-top: .5em;
  gap: 1em;
  padding: 8px;
}

#accordionContainer>div>div.accordion-body.active>form>button {
  width: 30%;
  border-collapse: collapse;
}


body,
h1,
p,
button,
input {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: small;
}

body {
  width: 700px;
  min-height: 550px;
  background-color: var(--curb-color-00);
  overflow-y: clip;
}

#extension {
  padding-block: 1rem;
  padding-inline: 2.5rem;
  min-height: 550px;
  display: flex;
  flex-direction: column;
}

#addAccordionForm {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  margin-block: 1em;
  gap: 1.5em;
}

#extension>.extension-container-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  width: 100%;

  column-gap: 5px;
}

#extension>.extension-container-bottom>p {
  margin-top: auto;
  display: flex;
  flex-direction: row;

  align-items: space-between;
  justify-content: space-between;
  width: 100%;

  column-gap: 5px;
}

#extension>.extension-container-bottom>p>a {
  font-size: small;
  font-weight: 400;
  text-decoration: none;
  color: var(--curb-color-950);
  line-height: 1.3;
}

#extension>.extension-container-bottom>p>a:nth-child(1):hover {
  color: var(--curb-color-blue);
}

#extension>.extension-container-bottom>p>a:nth-child(2):hover {
  color: var(--curb-color-amber);
}

#accordionTitleInput {
  width: 75%;
}

#addAccordionForm>button {
  width: 25%;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  height: 32px;
  text-align: center;
  border: none;
  border-radius: 8px;
  transition: all .4s ease-in-out;
  background-color: var(--curb-color-500);
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  background-size: 300% 100%;
}

#addAccordionForm>button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

#addAccordionForm>div>div.accordion-body.active>form>button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

#addAccordionForm>div>div.accordion-body.active>form>button:focus {
  outline: none;
}

#accordionContainer>div>div.accordion-body.active>form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex: 80% 20%;
  margin-bottom: 1em;
  margin-top: .5em;
  gap: 1.5em;
}

#accordionContainer>div>div.accordion-body.active>form>button {
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  height: 30px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 8px;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

#accordionContainer>div>div.accordion-body.active>form>button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

#accordionContainer>div>div.accordion-body.active>form>button:focus {
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: middle;
  padding: 0.5rem;
}

td:nth-child(2) {
  color: var(--curb-color-950);
  max-width: 55%;
}

td:nth-child(1),
td:nth-child(3),
td:nth-child(4) {
  max-width: 15%;
  width: 80px;
}

td:nth-child(4) {
  padding-inline-start: 1rem;
  color: var(--curb-color-950);
  width: 55%;
}

#accordionContainer>div>div.accordion-body.active>table>tr:nth-child(1)>td:nth-child(2)>input[type=text] {
  background-color: var(--curb-color-300);
  padding: 4px;
  width: 80%;
  max-width: 100%;
}

#accordionContainer>div>div.accordion-body.active>table>tbody>tr>td>button {
  width: 100%;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  height: 30px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 8px;
  transition: all .4s ease-in-out;
}

#accordionContainer>div>div.accordion-body.active>table>tbody>tr>td>button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

#accordionContainer>div>div.accordion-body.active>table>tbody>tr>td>button:focus {
  outline: none;
}

td:nth-child(1) button,
td:nth-child(3) button,
td:nth-child(4) button {
  color: #fff;
  cursor: pointer;
  padding: 4px;
  margin: 2px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 8px;
  transition: all .4s ease-in-out;
}

td:nth-child(1) button:hover,
td:nth-child(3) button:hover,
td:nth-child(4) button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

td:nth-child(1) button {
  width: 100%;
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  border: 1px solid #0ba360;

}

td:nth-child(3) button {
  width: 100%;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  border: 1px solid #e43603;
}

td:nth-child(4) button {
  width: 100%;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  border: 1px solid #eb3941;
}

td:nth-child(2) {
  padding-inline-start: 20px;
}

.extension-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0%;
  color: var(--curb-color-950);
}

.extension-container>h1 {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-items: flex-start;
  padding: 0px;
  text-align: left;
  color: var(--curb-color-950);
}

.extension-container>p {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
  justify-items: flex-end;
  padding: 1rem;
  padding: 0px;
  text-align: left;
  line-height: 1.2;
  color: var(--curb-color-950);
}

#addAccordionDiv {
  padding: 0%;
  margin: 0%;
}

.extension-title {
  font-size: 1.5rem;
  color: var(--curb-color-950);
  display: flex;
  align-items: center;
}

.input-wrapper {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.extension-title>img {
  max-width: 24px;
}

input[type="text"] {
  background-color: var(--curb-color-100);
  color: var(--curb-color-900);
  flex-grow: 1;
  padding: 10px;
  padding-inline-start: 15px;
  border: 1px solid var(--curb-color-300);
  outline: none;
  border-radius: var(--border-radius);
}

input[type="text"]:focus,
input[type="text"]:active {
  background-color: var(--curb-color-00);
  color: var(--curb-color-950);
  flex-grow: 1;
  padding: 10px;
  padding-inline-start: 15px;
  outline: none;
  border: 1px solid var(--curb-color-400);
  border-radius: var(--border-radius);
}

.accordion-container {
  margin: 10px;
}

.accordion {
  background-color: var(--curb-color-100);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.accordion-header {
  background-color: #764ba2;
  background-image: linear-gradient(to right, #8d60bd, #764ba2, #8d60bd, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  background-size: 300% 100%;
  color: white;
  padding-inline: 25px;
  font-weight: 500;
  cursor: pointer;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  /* Align items along the main axis with space in between */
  align-items: center;
  /* Align items along the cross axis to center vertically */
  max-width: 100%;
}

.accordion-header>span {
  padding: 10px;
  flex-grow: 1;
  /* Allow the span to take up available space */
  text-align: left;
}

.accordion-header>button {
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: flex-end;
  text-align: right;
  color: #fff;
  cursor: pointer;
  padding: 4px;
  margin: 4px;
  text-align: center;
  min-width: 55px;
  border: 1px solid #6253e1;
  border-radius: 8px;
  transition: all .4s ease-in-out;
  background-color: var(--curb-color-500);
  background-image: linear-gradient(to right, #6253e1, #858af4, #858af4, #6253e1);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  background-size: 300% 100%;
}

.accordion-header>button:hover {
  background-color: var(--curb-color-500);
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.accordion-header:hover {
  background-color: #8d60bd;
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.accordion-body {
  padding: 1rem;
  display: none;
  /* Initially hidden */
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.accordion-body.active {
  display: block;
  /* Show on active */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding-block: 4px;
  text-align: left;
  border-bottom: 1px solid var(--curb-color-300);

}

#accordionContainer>div>div.accordion-body.active>table>tbody>tr {
  margin-block: 10px;
  text-align: left;
  border-bottom: 1px solid var(--curb-color-300);
}

th {
  background-color: #f2f2f2;
}

.accordion-title {
  flex-grow: 1;
  /* Additional styles for accordion title */
}

.accordion-buttons {
  display: flex;
  gap: 10px;
  /* Additional styles for buttons container */
}